{% extends "base.html" %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
        <script>
            window.addEventListener('load', function(){
                new Glider(document.querySelector('.glider'), {
                    slidesToShow: 1,
                    dots: '#dots',
                    draggable: true,
                    arrows: {
                        prev: '.glider-prev',
                        next: '.glider-next'
                    }
                });
            })
        </script>
{% endblock %}